[Unit]
Description=The Zanata Web-Based Translation Server
After=syslog.target network.target
Before=httpd.service

[Service]
User=wildfly
LimitNOFILE=102642
PIDFile=/var/run/zanata/zanata.pid
ExecStart=/opt/wildfly/bin/standalone-zanata.sh
StandardOutput=null

[Install]
WantedBy=multi-user.target
